@font-face {
    font-family: sillii_willinn;
    src: url('../font/sillii_willinn/Sillii Willinn Font.ttf');
}

@font-face {
    font-family: latters_for_learners;
    src: url('../font/letters_for_learners/Letters for Learners.ttf');
}

body{
	margin: 0px;
}

/* MENU - nav */
nav {
	display: flex;
	flex-direction: row;
	max-width: 100%;
	min-height: 10vh;
	padding-left: 2em;
	padding-right: 2em;
	background-image: url('../img/textura_nav.png');
}

a {
	text-decoration: none;
	color: black;
}

#menu {
	display: flex;
	flex-grow: 2;
}

#menu ul {
	list-style-type: none;
	height: 100%;
}

#menu ul li {
	padding: 3vh;
	font-family: latters_for_learners;
	font-size: 1.5em;
}

.ativo {
	display: flex;
	transform: rotate(-20deg);
	color: red; 
}

/* Logo */
#logo {
	flex-grow: 1;
}

.logo {
	font-family: sillii_willinn;
	font-size: 3em;
}

/* topo */
#sectionTopo {
	/* 
	width: 100%;
	min-height: 70vh;
	background: repeating-linear-gradient(to bottom right, #FB9292, #FB9292 1px, white 1px, white 20px);
	background-size : 20px 20px;
	background-attachment : fixed; 
	*/ 
}

#topo {
	display: flex;
	align-items: center;
	background-color: white;
	min-height: 63vh;
	margin-left: 23%;
	margin-bottom: 10vh;
	background: rgb(0, 0, 0) transparent;
	background: rgba(0, 0, 0, 0.0);
}

#topo {
	font-family: latters_for_learners;	
	font-size: 2em;
}

/* Services */
#services{
	display: flex;
	align-content: flex-start;
	justify-content: center;
	flex-wrap: wrap;
	padding-bottom: 10vh;
}

.servicesTopico{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: repeating-linear-gradient(-20deg, white 50%, #696969 50%, #E0FFFF);
	width: 30%;
	margin: 2vh 2vh 2vh 2vh;
	padding: 10vh 0vh 10vh 0vh;
	font-family: latters_for_learners;
}

.servicesTopico:hover{
	color: white;
	background: rgba(0, 0, 0, 0.8);
}

.servicesTopico > i {
	font-size: 6vh;
}

.servicesTopico > p {
	font-size: 3vh;
}

/* Skills */
#skill{
	display: flex;
	height: 300px;
	background-color: green;
}

/* Geral Posicionamento */
.centralizar-centralizar {
	display: flex;
	justify-content: center;
	align-items: center;
}

.row {
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
}

.parallelogram { 
	width: auto; 
	height: auto; 
	transform: skew(-20deg); 
	border-left: 1px solid black;
	border-right: 1px solid black;
} 

.circle { 
	width: 100px; 
	height: 100px; 
	background: red; 
	border-radius: 50%
} 

.linhaAtiva {
	height: 8px;
    border: 0;
    height: 2px;
    background-image: linear-gradient(90deg, red, transparent);
}